* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 20px;
    background-color: #181414;
    color: #fff;
    list-style: none;
}

.container {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    align-items: center;


}

.menu {
    display: flex;
    align-items: center;
}

.menu ul li {
    padding: 2px 10px;
    display: inline-block;

}

.menu ul li a {
    background-color: #111111;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #ffee011f;
    transition: 0.2s;
}

#roin{
    background-color: #111111;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border: none;
    text-decoration: none;
    border-bottom: 1px solid #ffee011f;
    transition: 0.2s;
}

#roin:hover{
    border-bottom: 2px solid #ffee0193;
    color: rgb(247, 230, 0);
    font-size: 18px;
}

.menu ul li a:hover {
    border-bottom: 2px solid #ffee0193;
    color: rgb(247, 230, 0);
    font-size: 20px;
}

.container-body {
    display: flex;
    width: 100%;
    /* max-width: 1120px; */
    background: rgba(0, 0, 0, 0.61);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container1 {
    max-height: 300vh;
    background: rgb(241, 239, 239);
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgb(123, 126, 141);
    border-radius: 30px;
    margin: 20px;
    padding: 50px;
    width: 60vw;


}

@media(min-width:350px) and (max-width:800px) {
    .container1{
        padding: 10px;
    }
    .edit{
        width: 20px !important ;
        margin-left: 5px !important;
    }
    .exclude{
        width: 20px !important;
        margin-left: 5px !important;
    }
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-size: 50px;
    text-shadow: -0.1em 0em #afafadec;
}

.container2 {
    padding: 50px;
    width: 60%;

}


#search{
    font-size: 16px;
    height: 40px;
    width: 100%;
    padding: 7px;
    margin: 5px 0;
}

.btnsearch{
    height: 40px;
    width: 9%;
}

#product,
#valueProd {
    width: 60%;
    height: 50px;
    font-size: 20px;
    padding: 10px;

}


#valorProduto {
    width: 108px !important;
    margin-bottom: 5px;

}

#btnSalvar {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background-color: rgb(70, 32, 32);
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 7px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;

}

#btnSalvar:hover {
    background-color: rgb(170, 38, 38);
    transition: 0.5s;
    height: 45px;

}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: auto;

}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:hover {
    background: #dddddd;
}


.edit {
    align-items: center;
    border: none;
    border-radius: 3px;
    color: black;
    justify-content: center;
    height: 20px;
    width: 40px;
}

.exclude {

    border: none;
    border-radius: 3px;
    color: black;
    width: 40px;
    height: 20px;
}

.edit:hover {
    background: rgb(7, 189, 7);
    color: black;
    height: 24px;
    transition: 0.8s;

}

.exclude:hover {
    background: red;
    color: black;
    height: 24px;
    transition: 0.8s;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

@media(max-width:705px){
    .search{
        flex-wrap: wrap;
    }
    #search{
        width: 50%;
        margin-left: 20%;
    }

    .form{
        flex-wrap: wrap;
    }
    #btnSalvar{
        width: 50%;
        margin-left: 25% ;
    }
    h1{
        display: flex;

        margin-left: 30% ;
    }
    .texto{
        font-size: 40px;
    }
}

@media (max-width: 1000px) {
    td,th{
        text-align: center;
    }
    
}